@import "palette";

$base-font-color: $base01;
$base-background-color: $base3;
$base-shadow-color: $base00;
$base-light-font-color: $base0;
$base-highlight-font-color: $base00;
$base-highlight-background-color: $base2;

$inverse-font-color: $base1;
$inverse-background-color: $base03;
$inverse-shadow-color: $base0;
$inverse-highlight-font-color: $base0;
$inverse-highlight-background-color: $base02;

$emphasis-color: $orange;
$progress-color: $red;
$link-color: $magenta;
$left-column-current-color: $magenta;

/* light is default mode, so pair with general html definition */
html, .light {
	@include rebase($base3, $base2, $base1, $base0, $base00, $base01, $base02, $base03);
}
.inverse, .dark {
	@include rebase($base03, $base02, $base01, $base00, $base0, $base1, $base2, $base3);
	h1, h2 {
		text-shadow: 1px 1px 2px rgba($inverse-shadow-color, 0.2);
	}
}
// Fix Solarized highlighting
.hljs-solarized-light:not(.inverse) pre, pre code {
	background: $base-highlight-background-color !important;
	color: $base-highlight-font-color;
}
