// Default Font:
$base-font-size: 16px !default;
$body-font: $helvetica !default;
$body-font-weight: 400 !default;
$body-font-strong-weight: 700 !default;
$header-font: $helvetica !default;
$header-font-weight: 700 !default;
$header-font-soft-weight: 600 !default;
// Default Color:
$base-font-color: black !default;
$base-background-color: white !default;
$inverse-background-color: invert($base-background-color) !default;
$title-color: $base-font-color !default;
$subtitle-color: $base-font-color !default;
$emphasis-color: red !default;
$progress-color: $progress-color !default;
$left-column-current-color: $emphasis-color !default;

// ===================================================================
//
// Basic formatting
@media all and (max-width: 30em) {
	body {
		font: {
			size: $base-font-size !important;
		};
	}
}
html {
	font: {
		family: $body-font;
		weight: $body-font-weight;
	}
	strong {
		font: {
			weight: $body-font-strong-weight;
		}
	}
}
h1, h2, h3, h4, h5 {
	font: {
		family: $header-font;
		weight: $header-font-weight;
	}
	.soft {
		font: {
			weight: $header-font-soft-weight;
		};
	}
}
hr {
	width: 80%;
	border: 0;
	height: 1px;
	color: black;
	background: black;
	margin: 2em auto;
}
code {
	overflow: auto;
}
img {
	max-width: 100%;
	max-height: 565px;
}

body {
	color: $base-font-color;
}

.remark-slide {
	background: {
		color: $base-background-color;
	};
}
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}
.emph, strong {
	color: $emphasis-color;
}
a, a > code {
	color: $link-color;
}
.inverse {
	background: $inverse-background-color;
	color: $inverse-font-color;
	h1, h2 {
		text-shadow: 1px 1px 2px rgba($inverse-shadow-color, 0.2);
	}
}
.left-column {
	color: $base-light-font-color;

	h1, h2, h3 {
		color: $base-light-font-color;
	}

	.current {
		color: $left-column-current-color;
	}
}
// Progress Bar Color
#remark-progress-content {
	background: {
		color: $progress-color;
	};
}
// ===================================================================
//
// Slide layout controls
#slideshow {
	.slide {
		.content {
			code {
				font-size: 0.8em;
			}
			pre code {
				font-size: 0.9em;
				padding: 15px;
			}
		}
	}
}
// All slides are Neat grid containers
//
// For more on using Neat, see: http://neat.bourbon.io/
.remark-slide-content {
	@include grid-container;
	& > h1,& > h2,& > h3,& > h4,& > h5,& > h6 {
		&:first-child {
			margin-top: 0;
		}
	}
}
.middle {
	& > *:first-child {
		margin-top: 0;
	}
}
// Twitter stuff (name):
.twitter_name {
	position: absolute;
	bottom: 14px;
	left: 20px;
	font-weight: bold;
	opacity: 0.75;
	text-align: left;
}
// & (icon):
.twitter_badge {
	position: relative;
	margin-left: 1.15em;
	&:before, &:after {
		font-family: "icomoon";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		font: {
			size: 0.95em;
		}
	}
	&:before {
		content: "\f099";
		position: absolute;
		top: 0.3em;
		left: -1.15em;
	}
}
// ===================================================================
// Utility Classes:
//
// Two-column layout (three ways):
//
// With two independent columns of unequal size:
.left-column {
	height: 92%;
	@include grid-column(3);
}
.right-column {
	@include grid-column(9);
	padding: {
		top: 2em;
	}
	.big {
		font: {
			size: 1.5em;
		}
	}
}
// With two independent columns of equal size:
.pull-left {
	float: left;
	width: 47%;
}
.pull-right {
	float: right;
	width: 47%;
}
.pull-right ~ p {
	clear: both;
}
// And with two linked columns of equal size:
.two-column {
	column-count: 2;
	column-width: 44%;
	column-gap: 6%;
	column-fill: auto;
	h1,h2 {
		column-span: all;
	}
}
// .no-margin is useful for big blockquotes:
.no-margin {
	blockquote {
		margin-left: 0;
		margin-right: 0;
	}
}
// Change sizing on white-on-black slides:
.inverse {
	h1 {
		line-height: 0.8em;
		margin: {
			bottom: 1.618em;
		}
	}
}
// Move slide content further down:
.pushdown {
	& > h1,h2,h3,h4,h5 {
		&:first-child {
			margin-top: 5rem;
		}
	}
}
// Smaller size for quote sources:
.source {
	font-size: 0.75rem;
	line-height: 1rem;
	bottom: 2rem;
	position: absolute;
}
// Turn off list bullets/numbers:
.no-bullets {
	ol, ul {
		list-style: none;
	}
}
// Tag slide topics to put in the bottom right:
.topic {
	font: {
		size: 1.5em;
	}
	display: block;
	position: absolute;
	bottom: 14px;
	right: 10%;
	color: $emphasis-color;
}
// Class to bunch titles together:
.title-block {
	margin: 1.75em 0;
	h1,h2,h3,h4,h5 {
		line-height: 1.1em;
		margin: 0;
	}
}
// Fancy title slides:
.title {
	h1 {
		font-size: 2.4em;
		color: $title-color;
		.subtitle {
			font-size: (2em / 2.4);
			color: $subtitle-color;
		}
	}
	h2 {
		font: {
			size: 1.4em;
			weight: normal;
		}
	}
	h3 {
		font: {
			size: 1.2em;
			weight: normal;
		}
	}
}
// Formatting for works cited (use a bulleted list):
.works-cited {
	ul, ol {
		list: {
			style-type: none;
		}
		padding: {
			left: 0;
		}
	}
	li {
		padding: {
			left: 0.5in;
		}
		text: {
			indent: -0.5in;
		}
		margin: {
			bottom: 1em;
		}
	}
	.ibid {
		display: inline-block;
		width: 1in;
		height: 1px;
		background: $base-font-color;
		margin: {
			bottom: 0.5em;
		}
	}
}
// Put in text/image but make it invisible:
.phantom {
	color: $base-background-color !important;
	img, img.phantom {
		opacity: 0;
	}
}
.inverse .phantom {
	color: $inverse-background-color !important;
}
// Set the color for the progress bar
#remark-progress-content {
	background: {
		color: $progress-color;
	};
}
// Set the font size for paragraphs and bullets on a given slide.
// Set class: f5px to f150px for the slide class for precise font sizing:
@for $i from 5 through 150 {
	.f#{$i}px {
		p, li, td {
			font-size: $i * 1px;
			line-height: 1.4;
		}
		small {
			font-size: $i * 0.85px;
		}
	}
	span.f#{$i}px {
		font-size: $i * 1px;
		line-height: 1.4;
	}
}