@import "libraries/sass-colors";

$base-font-color: black;
$base-background-color: white;
$base-shadow-color: #777;
$base-light-font-color: lighten(black, 5%);
$base-highlight-font-color: #777;
$base-highlight-background-color: lighten(black, 5%);

$inverse-font-color: invert($base-font-color);
$inverse-background-color: invert($base-background-color);
$inverse-shadow-color: invert($base-shadow-color);
$inverse-highlight-font-color: invert($base-highlight-font-color);
$inverse-highlight-background-color: invert($base-highlight-background-color);

$emphasis-color: $resolution-blue;
$progress-color: $emphasis-color;
$link-color: $emphasis-color;
$left-column-current-color: $emphasis-color;

$title-color: $base-font-color;
$subtitle-color: $base-font-color;
