@import url("../../fonts/opensans/opensans.css");

$times: "Times New Roman", Times, serif;

$body-font: "Open Sans", $helvetica;
$body-font-weight: 400;
$body-font-strong-weight: 700;
$header-font: "Open Sans", $helvetica;
$header-font-weight: 600;
$header-font-soft-weight: 400;