@import "bourbon";

$red: #ff0033;
$black: #000;
$grey: #888;
$white: #fff;

$base-font-color: $white;
$base-background-color: rgba($black, 0.4);
$base-shadow-color: $grey;
$base-light-font-color: lighten($black, 5%);
$base-highlight-font-color: $grey;
$base-highlight-background-color: lighten($black, 5%);

$inverse-font-color: invert($base-font-color);
$inverse-background-color: invert($base-background-color);
$inverse-shadow-color: invert($base-shadow-color);
$inverse-highlight-font-color: invert($base-highlight-font-color);
$inverse-highlight-background-color: invert($base-highlight-background-color);

$emphasis-color: $red;
$progress-color: $emphasis-color;
$link-color: $emphasis-color;
$left-column-current-color: $emphasis-color;

$title-color: $base-font-color;
$subtitle-color: $base-font-color;
