@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
$base-font-size: 20px;
$body-font: "Droid Serif", $helvetica;
$body-font-weight: 400;
$body-font-strong-weight: 700;
$header-font: $body-font;
$header-font-weight: 700;
$header-font-soft-weight: 700;